* {
    padding: 0;
    margin: 0;
}
// --------------------------------------
// layout 1
$bcgr-color: rgb(196, 235, 250);
$aside-color: rgb(110, 219, 110);
$article-bcgr: rgb(251, 176, 75);
$image-color: rgb(252, 210, 74);
$header-color: rgb(3, 191, 177);
 
// --------------------------------------
// layout 2
// layout 1 desktop
// layout 1 mobile

// --------------------------------------
// layout 2
// layout 2 desktop
// layout 2 mobile

// --------------------------------------
// layout 3
// layout 3 desktop
// layout 3 mobile

// --------------------------------------
// layout 4
// layout 4 desktop
// layout 4 mobile

// --------------------------------------
// layout 5
// layout 5 desktop
// layout 5 mobile

// --------------------------------------
// layout 6
// layout 6 desktop
// layout 6 mobile
